*.pyc
db.sqlite3
*~
__pycache__
CACHE
media
.sass-cache
*.swo
*.swp
*.dill
*.p
*.idea
.coverage
env
venv/
myvenv/
media/
celerybeat-schedule
celerybeat.pid
.DS_Store
tutorial-env
local_settings.py
#*
.#*
*#

**/*.localz
**/*.local
**/*.git
**/*.DS_Store
**/.DS_Store
**/.do_pool/**
**/.do_pool
**/*#JDEVADF_*
**/*~
**/*.scc
**/*.mv.*
**/*.unmkelem.*
**/*.sync.*
**/*.rename.*
**/*.unbranch.*
**/*.unco.*
**/*.saved.*
**/*.client_contrib
**/.svn/**
**/.data/**
**/*.cdi
**/*.bak
**/*.generated.java
**/*.ignore
**/*.labellog.emd
**/.*.cs
**/.fullsource_nt
**/.fullsource
**/.depprod_nt
**/.depprod
**/.ade_path
**/.ade_path/**
**/*.contrib*
**/*.keep
**/*.rvi
**/.#*
**/CVS/**
