{% extends 'base.html' %}
{% load static %}
{% block body_content %}
    <div>
        {% if not request.user.is_authenticated %}
            <div class="text-center">
                <h1>Welcome to Omaha Mentor for Kids</h1>
            </div>
            <div class=".container" style="text-align: center;">
                <img src="{% static "images/session.PNG" %}" alt="Sessions">
            </div>
        {% endif %}

        <!-- JGarza 3/28/2020 Added role based mentor login splash -->
        {% if request.user.role == "staff" %}
            <div class="jumbotron">
                <h2>Welcome Staff, {{ request.user.username }}</h2>
                <p class="lead"></p>
                <div class="row">

                </div>
            </div>
        {% endif %}

        <!-- JGarza 3/28/2020 Added role based mentor login splash -->
        {% if request.user.role == "mentor" %}
            <div class="jumbotron">
            <h2>Welcome Mentor, {{ request.user.username }}</h2>
            <p class="lead">Please choose from the below options.</p>
            <div class="row">

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">View Sessions</h5>
                    </div>
                    <img src="{% static "images/session.PNG" %}" height="200" class="card-img-top" alt="Sessions">
                    <div class="card-body">
                        <a href="{% url 'session_list' %}" class="btn btn-primary">Sessions</a>
                    </div>
                </div>


                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Send Emails</h5>
                    </div>
                    <img src="{% static "images/mail.png" %}" height="200" class="card-img-top" alt="Sessions">
                    <div class="card-body">
                        <a href="{% url 'email' %}" class="btn btn-primary">Email</a>
                    </div>
                </div>

            </div>
        {% endif %}
        </div>
    </div>
{% endblock body_content %}
